.body{
text-align: center;

animation-name: pakun;
animation-iteration-count: 1;
animation-delay: 4s;
animation-duration: 5s;
}

@keyframes pakun{
0%{
transform:rotate(360deg);

}
}

@keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(650px);
    }
  }
  
  @keyframes astronaut {
    0% {
      transform: rotate(0deg);
    }
  
}