.body{
display: grid;
 grid-template-columns: 1fr auto 1fr 1fr 1fr 1fr;
 color:aliceblue;
 border-radius: 100px;
 padding: 10px;
 text-align: center;

}
.alpha{
    font-size: 20px;
}

.nam{
 padding-top: 30px;   
 padding-top: 10px;
   
    
}
p{
    height: 30px;
    font-size: 25px;
}


.search{

font-size: 23px; 
}
