.body{
display: grid;
 grid-template-columns: 1fr auto 1fr 1fr 1fr 1fr;
 color:aliceblue;
 border-radius: 100px;
 padding: 10px;
 text-align: center;

}

.nam{
 padding-top: 30px;   
    font-size: 10cap;
    
}



