* {margin:0px;}

.td{
  display:grid;
border-radius: 0px;
margin: 10px;
background-color: rgb(172, 142, 179);
}

img {
  min-width: 435px;
  max-width: 435px;
  min-height: 250px;
  max-height: 250px;
 
 
}
/*.td{
display:grid;
grid-template-columns:repeat( 5, 1fr) ;
grid-template-rows: auto;
}*/



  .gen{
    display:inline-block;
   
    background-color: rgb(172, 142, 179);
   margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }

  .det{
    position: relative;
  }




