img {
  max-width: 350;
  max-height: 250px;
  display: inline-flexbox;
}
  .gen{
    display:inline-block;
    background-color: rgb(172, 142, 179);
    margin: 10px;;
    padding: 30px;
    text-align: center;
  }





