.body{
  display: flex;
  grid-template-columns: 1fr auto 1fr  1fr;
 color: aliceblue;    
}

  
.search{
    display: flex;
    grid-template-columns: 1fr auto 1fr  1fr;
   color: aliceblue;    
}

p{
  margin: 10px;

  border-radius: 0cm;
    color: aliceblue;
}